header {
  background-color: #2e7d32;
  color: white;
  padding: 17px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 10;
}

.main-content {
  display: flex;
  height: 100vh;
  position: relative;
}

.right-side {
  flex: 1;
  background: linear-gradient(to bottom right, #97c798, #73b477, #48914c);
}

.left-side {
  flex: 1;
  background-image: url('CECYCOACALCO.jpg');
  background-size: cover;
  background-position: center;
}

.button-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  gap: 80px;
}

.btn {
  background-color: #388e3c;
  color: white;
  text-decoration: none;
  font-size: 55px;
  padding: 15px 40px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.btn:hover {
  background-color: #2e7d32;
  transform: scale(1.05);
}