body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('form_alum.jpg') no-repeat center center fixed;
    background-size: cover;
}

.form-container {
    background: rgba(255, 255, 255, 0.95); 
    max-width: 500px;
    margin: 5% auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: #e90d18a4;
}

label {
    display: block;
    margin-top: 15px;
    color: #fd7a8c;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #d9eff5;
    border-radius: 5px;
    font-size: 14px;
}

button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background-color: #f5ec76;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cec43f;
}